.stories-video{
  border-radius: 1rem;
  border: solid white 1px;
  /*max-width: 400px;*/
  /*width: 100%;*/
  /*aspect-ratio: 16.9;*/
  height: 600px;
}

.two-col{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  /*grid-template-columns: minmax(200px, 1fr);*/
  /*grid-template-columns: repeat(2, 1fr);*/
  /*grid-template-columns: minmax(300px, 1fr);*/
  /*display: grid;*/
}

.flex-reverse{
  flex-direction: row-reverse;
}

.stories-text{
  width: auto;
  max-width: 400px;
  padding: 2rem;
  background-color: white;
  border-radius: 1rem;
}
.rot-5{
  transform: rotate(3deg);
}
.rot--5{
  transform: rotate(-3deg);
}

.container-padding{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.banner-button{
  /*padding: 1rem 6rem 1rem 1rem;*/
  padding-left: 1rem;
  text-decoration: none;
  font-weight: 600;
  background-color: white;
  border-radius: 1rem;
  border: solid 4px var(--pfc-color-border);
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  box-shadow: var(--pfc-color-border) 0px 4px;
  width: 100%;
  max-width: 320px;
  transform: translateY(0px);
}

.banner-button hover{
  transform: translateY(-25px);
}

.banner-button span{
  width: 100%;
  max-width: 200px;
  font-size: 1.5rem;
  color: var(--pfc-color-text);
}

.right-bot-angle{
  position: fixed;
  /* top: 0; */
  right: 0;
  bottom: 0;
  opacity: 0.4;
  z-index: 1000;
  max-width: 25vw;
  height: auto;
}


.left-top-angle{
  position: fixed;
  /* top: 0; */
  left: 0;
  top: 0;
  opacity: 0.4;
  z-index: 1000;
  width: 100%;
  max-width:25vw;
  height: auto;
}

.button-line{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: auto;
}
