.stories-video{
  border-radius: 1rem;
  border: solid white 1px;
  /*max-width: 400px;*/
  /*width: 100%;*/
  /*aspect-ratio: 16.9;*/
  height: 600px;
}

.two-col{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  /*grid-template-columns: minmax(200px, 1fr);*/
  /*grid-template-columns: repeat(2, 1fr);*/
  /*grid-template-columns: minmax(300px, 1fr);*/
  /*display: grid;*/
}

.flex-reverse{
  flex-direction: row-reverse;
}

.stories-text{
  width: auto;
  max-width: 400px;
  padding: 2rem;
  background-color: white;
  border-radius: 1rem;
}
.rot-5{
  transform: rotate(3deg);
}
.rot--5{
  transform: rotate(-3deg);
}

.container-padding{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.banner-button{
    /* padding: 1rem 6rem 1rem 1rem; */
    padding-left: 1rem;
    text-decoration: none;
    font-weight: 600;
    background-color: white;
    border-radius: 1rem;
    border: solid 4px var(--pfc-color-border);
    display: flex
;
    flex-direction: row;
    /*width: fit-content;*/
    align-items: center;
    box-shadow: var(--pfc-color-border) 0 4px;
    width: 100%;
    /* max-width: 320px; */
    justify-content: space-between;
    transform: translateY(0px);
}

.banner-button {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.banner-button:hover {
  transform: translateY(-5px);
  box-shadow: var(--pfc-color-border) 0 6px;
  background-color: #ffd700;
}

.banner-button span{
  width: 100%;
  max-width: 200px;
  font-size: 1.5rem;
  color: var(--pfc-color-text);
}

.right-bot-angle{
  position: fixed;
  /* top: 0; */
  right: 0;
  bottom: 0;
  opacity: 0.4;
  z-index: 10;
  max-width: 25vw;
  height: auto;
}


.left-top-angle{
  position: fixed;
  /* top: 0; */
  left: 0;
  top: 0;
  opacity: 0.4;
  z-index: 10;
  width: 100%;
  max-width:25vw;
  height: auto;
}

.button-line{
  display: grid;
  width: auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.circle-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  justify-content: center;
  background-color: var(--pfc-color-bg);
  border-radius: 50%;
  border: solid 2px var(--pfc-color-border);
  box-shadow: var(--pfc-color-border) 0 5px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.circle-button:hover {
  transform: translateY(-5px);
}



.social-icons{
  width: 3rem;
  height: auto;
}

.follow-block{
  width: 100%;
  padding: 2rem;
  
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  flex-direction: row;
  
  
  gap: 1rem;



  border-radius: 2rem;
  background-color: white;
}

.social-buttons-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}