<header class="top-nav flex-center">
  <a href="{{ '/' | relative_url }}">
    <img src="{{ '/img/phone-flip-logo.svg' | relative_url }}" alt="Theoretical Studio logo" class="studio-logo">
  </a>
  <input id="menu-toggle" type="checkbox"/>
  <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
  <ul class="menu">
    <li>
      <a href="{{ '/press-kit.html' | relative_url }}">Press Kit</a>
    </li>
    <li>
      <a href="{{ '/for-partners.html' | relative_url }}">For Partners</a>
    </li>
    <li>
      <a href="{{ '/phone-flip-privacy-policy/' | relative_url }}" target="_blank">Privacy Policy</a>
    </li>
    <li>
      <a href="{{ '/phone-flip-eula/' | relative_url }}" target="_blank">EULA</a>
    </li>
  </ul>
</header>
