<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
<meta name="description" content="Phone Flip Challenge is a simple and fun game where you flip your phone and try to catch it. Just download it now!">
<meta name="copyright" content="Theoretical Studio LLP">
<meta name="theme-color" content="#111111"/>

<!-- SEO Meta Tags -->
<meta name="robots" content="noindex,nofollow" />
<meta name="bingbot" content="noindex,nofollow">
<meta name="googlebot" content="noindex,nofollow">
<meta name="googlebot-news" content="noindex,nofollow">
<meta name="google-site-verification" content="">
<meta name="yandex-verification" content="">

<!-- AI Bots -->
<meta name="GPTBot" content="noindex,nofollow">
<meta name="ChatGPT-User" content="noindex,nofollow">
<meta name="Google-Extended" content="noindex,nofollow">
<meta name="CCBot" content="noindex,nofollow">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://theoretical.studio/phone-flip">
<meta property="og:title" content="Phone Flip Challenge">
<meta property="og:description" content="Phone Flip Challenge is a simple and fun game where you flip your phone and try to catch it. Just download it now!">
<meta property="og:image" content="img/phone-flip-thumbnail.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://theoretical.studio/phone-flip">
<meta property="twitter:title" content="Phone Flip Challenge">
<meta property="twitter:description" content="Phone Flip Challenge is a simple and fun game where you flip your phone and try to catch it. Just download it now!">
<meta property="twitter:image" content="img/phone-flip-thumbnail.jpg">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">

<!-- Stylesheets -->
<link rel="stylesheet" href="{{ '/css/normalize.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/css/adaptive.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/css/top-menu.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/css/pfc.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/css/press-kit.css' | relative_url }}">

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MJ4968FH"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FZK15BT4W8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-FZK15BT4W8');
  </script>